.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.Navbar {
  background-color: lightgoldenrodyellow;
  width: 100%;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;

}

.Navbar .leftSide {
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  
  
}

.Navbar .leftSide .Links{
  max-height: 36px;

}

.Navbar .leftSide .Links a {
text-decoration: none;
color: black; 
font-size: 25px;
margin-left: 15px;
}


.Navbar .rightside {
  flex: 50%;
}

.Navbar .leftSide .Text-white:hover {
  color: lightskyblue
}

:root {
  --mainGoldenYellow: rgba(246, 246, 208);
  --mainGrey: rgba(109, 109, 109);
  --mainSkyBlue: rgba(135, 207, 251);
  --mainBlack: rgba(0, 0, 0);;
  --mainBlue: #007bff;

}

.footer-middle {
  background: var(--mainGoldenYellow);
  padding-top: 3rem;
  color: var(--mainBlack);
}

.footer-bottom {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

ul li a {
  color: var(--MainBlack);

}

ul li a:hover {
  color: var(--mainSkyBlue);
}


